.git
.gitignore
.env
.env.*
**/.env
**/.env.*
db/migrations/
**/*.md
**/*_test.go
**/tmp/
**/tmp/**
**/bin/
**/dist/
**/.DS_Store
**/*.log
**/*.out
**/*.exe
**/*.test
**/*.prof
**/coverage.*
**/.idea/
**/.vscode/
**/node_modules/
**/vendor/
**/env.sh
